body {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #353535;
    width: 4%;
    height: 100vh
}

.right {
    float: right;
}

hr {
    margin: 0;
    padding: 0;
}

#chat-feed, #general-info, #visited-pages, #additional-info {
    background-color: #fff;
}

#chats-wrap, #details {
    background-color: #eaf3ff
}

#chats-wrap h4, i {
    opacity: 0.9;
}

.chats img, #chat-feed img {
    border-radius: 50%;
}

#chat-feed {
    border-left: 1.5px solid #ddd;
    border-right: 1.5px solid #ddd;
}

#chat-feed h4 {
    text-align: center;
}

#message {
    width: 100%;
    border-radius: 30px;
    background-color: #007bff;
}

#type {
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 5px;
}

#type button {
    padding: 4px 10px;
}

#textarea {
    margin-left: 10px;
    border: none;
}

#details #menu i {
    padding: 16px;
    font-size: 28px;
}

#general-info, #visited-pages, #additional-info {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px 16px 0 16px;
}

.clock,
.fa-comment-alt,
.fa-address-book,
.fa-ticket-alt,
.fa-cog,
.fa-money-check,
.fa-question-circle,
.fa-user-alt,
.fa-user-friends,
.fa-chart-line,
.fa-table
{
    font-size: 28px;
    color: #ccc;
}

.sidebar span {
    font-size: 12px;
    color: #ddd
}

/*ON/OFF Switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 50%;
}



